<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<<<<<<< HEAD
  <title>Team [Cloud Ninja's Website]</title>
=======
  <title>Team Cloud Ninja's Website</title>
>>>>>>> bd931c3ecd11aa127361bb8c24ec8e9541a00b50
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
<link href="test"/>

</head>
<body>
  <div>
<<<<<<< HEAD
      <h1>Welcome to Cloud Ninjas application</h1>
=======
      <h1>Welcome to Cloud Ninja's application</h1>
>>>>>>> bd931c3ecd11aa127361bb8c24ec8e9541a00b50
    {{{body}}}
</div>
<div>
  <h2>Add an event</h2>
    <form action="/event" method="post">
       title: <input name="title" type="text" /> <br />
       description: <input name="description" type="text" /> <br />
       location: <input name="location" type="text" /> <br />
       <br />
<<<<<<< HEAD
        <input type="submit" name="Submit" value="submit" />
=======
        <input type="submit" name="New" value="submit" />
        --Changes made by Jimmy
>>>>>>> bd931c3ecd11aa127361bb8c24ec8e9541a00b50
    </form>
  </div>
</body>
</html>